<div class="container my-5">

  <!-- Post title -->
  <h1 class="mb-4"><%= @post.title %></h1>
  <% if user_signed_in? && @post.user == current_user %>
    <div class="mb-3">
      <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-warning me-2" %>

      <%= button_to "Delete post",
                    post_path(@post),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "btn btn-danger d-inline" %>
    </div>
  <% end %>


  <!-- Post content (INTENTIONALLY VULNERABLE) -->
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <!-- Stored XSS -->
      <%= @post.content.body %>
    </div>
  </div>
  <hr>

  <!-- Comments -->
  <h3 class="mb-3">Comments</h3>

  <% @post.comments.where(parent_id: nil).each do |comment| %>
    <div class="card">
      <!-- вывод комментария -->
      <div class="card-body">
        <%= comment.content.body %>
        <small>Author: <%= comment.user.name %></small>
        <div class = "reply-buttom">
          <button
            type="button"
            class="btn btn-link p-0 "
            data-controller="reply"
            data-action="click->reply#select"
            data-reply-comment-id-value="<%= comment.id %>"
            data-reply-author-value="<%= comment.user.name %>">
            Reply
          </button>
          <button
            type="button"
            class="btn btn-link p-0 ms-2"
            data-controller="reply"
            data-action="click->reply#edit"
            data-reply-comment-id-value="<%= comment.id %>"
            data-reply-content-value="<%= j comment.content.to_plain_text %>">
            Update
          </button>
          <% if comment.authored_by?(current_user) %>
            <%= button_to 'Delete', post_comment_path(@post, comment), 
            method: :delete, form_class: "d-inline", class: "btn btn-link btn-danger" %>
          <% end %>
        </div>
         
      </div>

      <!-- Вывод дочерних комментариев  -->
      <% comment.childrens.each do |child| %>
        <div class="card reply" style="margin-left:20px;">
          <div class ="card-body">
            <%= child.content.body %>
          <small>Author: <%= child.user.name %></small>
          <button
            type="button"
            class="btn btn-link p-0 ms-2"
            data-controller="reply"
            data-action="click->reply#edit"
            data-reply-comment-id-value="<%= child.id %>"
            data-reply-content-value="<%= j child.content.to_plain_text %>">
            Update
          </button>
          <% if child.authored_by?(current_user) %>
            <%= button_to 'Delete', 
            post_comment_path(@post, child),
            method: :delete, form_class: "d-inline", class: "btn btn-link btn-danger" %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>

  <!-- Add comment -->
  <div class="card mt-4" id="add-comment">
    <div class="card-body">
      <h5 class="card-title mb-3">Add comment</h5>

      <%= form_with model: [@post, Comment.new], local: true do |c| %>

        <%= c.hidden_field :parent_id, id: "comment_parent_id" %>
        <%=hidden_field_tag :edit_comment_id, nil, id: "edit_comment_id"%>

        <div class="mb-3">
          <%= c.rich_text_area :content,
            row: 3,
            id: "comment_content",
            placeholder: "Add your comment here..." %>
        </div>

        <%= c.submit "Save comment", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

